@viewport {
    width: device-width;
    zoom: 1.1;
    min-zoom: 0.4;
    max-zoom: 2;
    user-zoom: fixed;
    height:device-height;
    }

*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    /* background-color:rgb(184, 137, 228)  ; */
    /* height:100vh; */
}
body{
    background-image: url(img/bg10.jpg) ;
}
.banner {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;   
}
.slider{
    width: 100vw;
    height: 100vh;
    position: absolute;
    position: relative;
    top:0;
}
#slideimg{
width: 45%;
height: 95%;
margin-top: 25px;
margin-left:2.5% ;
border-radius: 15px;
}
.overlay{
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)); */
    position: absolute;
    top:0;
}

.buttons{
    display:block;
    align-items: center;
    flex-direction: row;
    margin: auto auto;
}
/* .navbar{
    width:85%;
    display: flex;
    align-items: center;
    margin:15px 5px;
}
#navimg{
    height:50px;
    width:50px;
    cursor:pointer;
} 
.menu-icons {
    
    cursor:pointer;
    flex:1;
    align-items: center;
    text-align: right;
}
.menu-icons img{
    height:50px;
    width:50px;
    margin-left: 5px;
} */

/* #m-icon1{
    height:50px;
    width:50px;
    cursor:pointer;
}
#m-icon2{
    height:50px;
    width:50px;
    cursor:pointer;
}
#m-icon3{
    height:50px;
    width:50px;
    cursor:pointer;
} */

.content h1{
    text-align: center;
    margin-right:15px;
    font-size: 45px;
    font-family: 'Noto Sans Bengali', sans-serif;
}
content h3{
    width:80%;
    margin: 20px auto 100px;
    font-weight: 100;
    line-height: 25px ;
}
.content{
/* border: 2px solid black; */
width: 45%;
height: 80%;
/* margin-right :15px; */
margin-left: 50%;
/* align-self: flex-end; */
border-radius: 15px 15px 15px 15px;
margin-bottom: 10%;
margin-top: 50px;
border-top-left-radius: 15px;
justify-content: center;
text-align: justify;
}
.content p{
    font-family: Cedarville, Cursive;
    font-size: 25px;
    font-style: italic ;
}
 button{
    width: 31vw;
    padding:15px 0;
    text-align: center;
    margin: 10px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid goldenrod;
    background-color: gold;
    color: blue;
    cursor: pointer;
    /* transition: background 1s ; */
    font-style: italic;
    font-size: 15px;
}
button:hover{
    background-color: transparent;
    border: 2px solid goldenrod;
}
.card{
    border: 2px solid aqua;
    margin:25px 25px;
    height: 30vh;
    width: 40vw;
    border-radius: 15px;
}
/*
.btn-2{
    border : 2px solid goldenrod;
    background: transparent;
    }
.btn-2:hover{
    border: 2px solid gold;
    background: gold;
    
} */

/*---------------------------- for gallery-------------------- */
.gallery{
    /* margin:100px 50px ; 
    margin:1vw 1vw;*/
    /* padding: 1vh 1vh; */
    align-self: auto;
    align-items: center;
}
/*Smartphones (portrait and landscape) ----------- */
@media screen 
and (min-width : 300px)
and (max-width : 600px)

{
    .gallery img{
    width: 45vw;
    height: 25vh;
    /*padding: 1vw ;*/
    filter:grayscale(100%);
    transition:1s;
    border-radius: 10px;
    }
    .gallery img:hover{
    filter: grayscale(0);
    transform:scale(1.1);
}
}
@media screen 
and (min-width :600px)
and (max-width : 1240px){
.gallery img{
    
    /* width: 45vw;
     height: 45vh;*/
    width: 300px;
    height: 300px;
    /*padding: 5px;*/
    filter:grayscale(100%);
    transition:1s;
    border-radius: 10px;
}
.gallery img:hover{
    filter: grayscale(0);
    transform:scale(1.1);
}
}

/*----------------- foryou----------- */
.cardtext {
    justify-content: center;
    text-align: center;
    font-family: cursive;
    font-size: 3vh;
}

.card{
    display: grid;
    /* grid-template-columns: repeat(2, auto); */
    /* grid-template-columns: 300px auto 100px; */
    /* grid-template-columns: 100px 500px 300px; */
    height:20vh;
    width:50vw;
    margin: auto;
    padding: 10px;
}
#card1p{
    font-family: cursive;
    font-style: oblique;
}
